<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>助农爱心榜</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #091633;
            background-image: url("./images/bg.jpg");
            background-size: 100% auto;
            background-repeat: no-repeat;
        }

        .title {
            width: 100%;
            text-align: center;
            margin-top: 80px;
        }

        .table {
            color: rgba(255, 255, 255, 0.9);
            font-size: 20px;
            border-collapse: collapse;
        }

        .table tr td {
            text-align: left;
            padding: 20px 25px;
            border: 1px solid rgba(255, 255, 255, 0.1);
        }

        #box {
            width: 93%;
            height: 1200px;
            overflow: hidden;
            margin: 0 auto;
        }

        .frame {
            background-image: url("./images/frame.png");
            background-size: 95% 100%;
            background-repeat: no-repeat;
            background-position: center;
        }

        .base-color {
            background-color: rgba(255, 255, 255, 0.15);
            font-size: 34px;
        }

        .center {
            text-align: center !important;
        }
    </style>
</head>
<body>
<div class="title">
    <img src="./images/title.png" alt="标题" width="50%">
</div>
<div class="frame">
    <table class="table" style="width: 90%; height: 150px; margin: 50px auto 0 auto; font-size: 34px; color: #ffffff">
        <tr>
            <td width="38%">名称</td>
            <td width="20%">星指数</td>
            <td width="25%">数额</td>
            <td>备注</td>
        </tr>
    </table>
    <div id="box">
        <table id="list1" class="table">
            <tr class="base-color">
                <td colspan="4">临县专场</td>
            </tr>
            <tr>
                <td width="38%" rowspan="2">山西海玉食品有限公司</td>
                <td width="20%" rowspan="2"></td>
                <td width="25%">200件/3920元</td>
                <td>临县烤馍</td>
            </tr>
            <tr>
                <td>1000件/22900元</td>
                <td>黄河滩枣</td>
            </tr>
            <tr>
                <td>山西龙首山集团</td>
                <td class="center"><img src="./images/star.png" alt="心"></td>
                <td>1000件/22900元</td>
                <td>黄河滩枣</td>
            </tr>
            <tr class="base-color">
                <td colspan="4">临猗专场</td>
            </tr>
            <tr>
                <td>青岛东方鼎信水果批发市场</td>
                <td class="center">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                </td>
                <td>1000件/148000元</td>
                <td>临猗冬枣</td>
            </tr>
            <tr>
                <!--            <td></td>-->
                <td>时胜红</td>
                <td class="center">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                </td>
                <td>1000件/148000元</td>
                <td>临猗冬枣</td>
            </tr>
            <tr>
                <!--            <td></td>-->
                <td>姚青霞</td>
                <td class="center"><img src="./images/star.png" alt="心"></td>
                <td>11220斤/44310元</td>
                <td rowspan="3">王万保苹果</td>
            </tr>
            <tr>
                <!--            <td></td>-->
                <td>李国珍</td>
                <td class="center"><img src="./images/star.png" alt="心"></td>
                <td>4500斤/20250元</td>
            </tr>
            <tr>
                <!--            <td></td>-->
                <td>朱怀忠</td>
                <td class="center"><img src="./images/star.png" alt="心"></td>
                <td>10000斤/37000元</td>
            </tr>
            <tr>
                <!--            <td></td>-->
                <td>临*6（网名）</td>
                <td class="center"><img src="./images/star.png" alt="心"></td>
                <td>44306元</td>
                <td>烤馍片</td>
            </tr>
            <tr>
                <!--            <td></td>-->
                <td>好心情</td>
                <td class="center"><img src="./images/star.png" alt="心"></td>
                <td>20000元</td>
                <td>烤馍片</td>
            </tr>
            <tr>
                <!--            <td></td>-->
                <td>贺刚刚</td>
                <td class="center">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                </td>
                <td>200000元</td>
                <td>烤馍片</td>
            </tr>
            <tr class="base-color">
                <td colspan="4">吉县专场</td>
            </tr>
            <tr>
                <td>陈志伟</td>
                <td class="center">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                </td>
                <td>209216元</td>
                <td>吉县苹果</td>
            </tr>
            <tr>
                <td>刘国海</td>
                <td class="center">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                </td>
                <td>115200元</td>
                <td>吉县苹果</td>
            </tr>
            <tr class="base-color">
                <td colspan="4">和顺专场</td>
            </tr>
            <tr>
                <td>山西和顺宏田嘉利有限责任公司</td>
                <td class="center">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                </td>
                <td colspan="2">直播当晚销售额百分之十的利润 捐助给和顺县残疾人联合会</td>
            </tr>
            <tr>
                <td>山河醋业有限公司</td>
                <td class="center">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                </td>
                <td colspan="2">
                    <p>10万元公益金 用于贫困村母亲基础用药</p>
                    <p>50万元和顺原醋 协助第一书记开展驻村工作</p>
                </td>
            </tr>
            <tr class="base-color">
                <td colspan="4">神池专场</td>
            </tr>
            <tr>
                <td>上海民航华东凯亚系统集成公司</td>
                <td class="center">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                </td>
                <td>196000元</td>
            </tr>
            <tr>
                <td>青岛民航凯亚系统集成有限公司</td>
                <td class="center">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                </td>
                <td>53190元</td>
            </tr>
            <tr>
                <td>中国民航信息网络安徽分公司</td>
                <td></td>
                <td>10800元</td>
            </tr>
            <tr>
                <td>沈阳民航东北凯亚有限公司</td>
                <td></td>
                <td>116800元</td>
            </tr>
            <tr class="base-color">
                <td colspan="4">平鲁区专场</td>
            </tr>
            <tr>
                <td>太原市万柏林晋汇土特产经销部</td>
                <td class="center">
                    <img src="./images/star.png" alt="心">
                    <img src="./images/star.png" alt="心">
                </td>
                <td>1500盒/74580元</td>
                <td>红山荞面</td>
            </tr>
            <tr>
                <td>山西帅林绿色农牧发展有限公司</td>
                <td></td>
                <td>8200元</td>
                <td>慰问品6类</td>
            </tr>
        </table>
        <table id="list2" class="table"></table>
    </div>
</div>
</body>
<script type="text/javascript">
    var box = document.getElementById("box");
    var l1 = document.getElementById("list1");
    var l2 = document.getElementById("list2");
    l2.innerHTML = l1.innerHTML;//克隆list1的数据，使得list2和list1的数据一样
    function scrollup() {
        if (box.scrollTop >= l1.offsetHeight) { //滚动条距离顶部的值恰好等于list1的高度时，达到滚动临界点，此时将让scrollTop=0,让list1回到初始位置，实现无缝滚动
            box.scrollTop = 0;
        } else {
            box.scrollTop++;
        }
    }

    var scrollMove = setInterval(scrollup, 30);//数值越大，滚动速度越慢

    //鼠标经过时，滚动停止
    box.onmouseover = function () {
        clearInterval(scrollMove)
    }

    //鼠标离开时，滚动继续
    box.onmouseout = function () {
        scrollMove = setInterval(scrollup, 30);
    }
</script>
</html>